body {
  background: #272822; }

.max-height {
  height: 100vh; }

.chatbox {
  display: flex;
  flex-direction: column; }
  .chatbox .conversation-title {
    /*box-shadow:rgba(0, 0, 0, 0.25) 0px 12px 11px -9px inset;*/
    flex: 0 0 auto; }
  .chatbox .conversation {
    flex: 1 1 auto; }
  .chatbox .new-message {
    flex: 0 0 auto; }
    .chatbox .new-message textarea {
      resize: none; }

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px; } }
